@media screen and (min-width: 480px) {
    
}
@media screen and (min-width: 768px) {

    /*全ページ共通CSS*/
    body {
        width: 100%;
        text-align: center;
        background-color: rgb(255, 221, 208);
        margin: 0;
        background-size: cover;
        background-image: url(img/logo/logo.png);
        background-size: 23%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .main {
        width: 50%;
        min-height: 100vh;
        margin: 0 auto;
        background-color: rgba(255, 255, 255,0.4);
        padding-bottom: 5vh;
    }
    p {
        margin: 0%;
    }
    footer {
        padding: 3vh;
        background-color: rgb(243, 118, 22);
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }

    
    /*子ページの共通CSS*/
    .title{
        padding-top: 1vh;
    }
    .txt-aline {
        text-align: left;
    }


    /*0.indexのページ*/
    .main-index {
        padding-top: 5vh;
    }
    .icon {
        width: 50%;
        height: auto;
    }
    .icon3 {
        padding-left: 5%;
    }
    .icon7 {
        padding-left: 5%;
    }
    .icon2 {
        padding-right: 5%;
    }
    .icon6 {
        text-align: right;
        padding-right: 5%;
    }

    /*1.大内宿のCSS*/
    .A img.title {
        width: 30%;
    }
    .A .contents {
        padding-top: 3vh;
    }
    .A img.comment1 {
        width: 30%;
    }
    .A .box {
        display: inline-block;
        width: 30%;
    }
    .A img.comment2 {
        width: 15vw;
        padding-right: 7vw;
    }
    .A img.comment3 {
        width: 15vw;
        padding-right: 5vw;
    }
    .A img.comment4 {
        width: 20vw;
    }
    .A img.view {
        width: 90%;
    }

    /*2.観音沼のCSS*/
    .B img.title{
        width: 30%;
    }
    .B .box {
        display: inline-block;
        width: 0%;
    }
    .B .contents {
        padding-top: 5vh;
    }
    .B img.picture1 {
        width: 30vw;
        padding-left: 4vw;
    }
    .B img.comment1 {
        width: 6vw;
        padding-left: 37vw;
    }
    .B .blank {
        padding-bottom: 5vh;
    }
    .B img.comment2 {
        width: 6vw;
        padding-left: 3vw;
    }
    .B img.picture2 {
        width: 30vw;
        padding-left: 15vw;
    }
    .B img.comment3 {
        width: 10vw;
        padding-top: 3vh;
    }
    .B img.view {
        width: 90%;
    }
    
    /*3.猿楽台地のCSS*/
    .C img.title{
        width: 50%;
    }
    .C img.comment1 {
        width: 20vw;
    }
    .C img.comment2 {
        width: 20vw;
    }
    .C img.comment3 {
        width: 20vw;
    }
    .C img.view {
        width: 100%;
    }

    /*4.塔のへつりのCSS*/
    .D img.title {
        width: 30%;
    }
    .D .contents {
        padding-top: 3vh;
    }
    .D .box {
        display: inline-block;
        width: 20%;
    }
    .D img.comment1 {
        width: 13vw;
    }
    .D img.comment2 {
        width: 15vw;
        padding-left: 3vw;
        padding-bottom: 3vh;
    }
    .D img.comment3 {
        width: 19vw;
        padding-left: 8vw;
    }
    .D img.view {
        width: 90%;
    }

    /*5.中山風穴のCSS*/
    .E img.title{
        width: 30%;
    }
    .E .box {
        display: inline-block;
        width: 0%;
    }
    .E .contents {
        padding-top: 5vh;
    }
    .E img.comment1 {
        width: 10vw;
    }
    .E img.comment2 {
        width: 25vw;
        padding-left: 3vw;
    }
    .E img.picture1 {
        width: 15vw;
        padding-left: 30vw;
    }
    .E .blank {
        padding-bottom: 3vh;
    }
    .E img.picture2 {
        width: 30vw;
        padding-left: 3vw;
    }
    .E img.comment3 {
        width: 10vw;
        padding-left: 35vw;
        padding-bottom: 6vh;
    }

    /*6.塔のへつりのCSS*/
    .F img.title{
        width: 30%;
    }
    .F .box {
        display: inline-block;
        width: 0%;
    }
    .F .contents {
        padding-top: 5vh;
    }
    .F img.comment1 {
        width: 17vw;
        padding-left: 13vw;
    }
    .F img.comment2 {
        width: 20vw;
        padding-left: 3vw;
    }
    .F img.picture1 {
        width: 15vw;
        padding-left: 30vw;
    }
    .F .blank {
        padding-bottom: 3vh;
    }
    .F img.picture2 {
        width: 20vw;
        padding-left: 4vw;
    }
    .F img.comment3 {
        width: 15vw;
        padding-left: 10vw;
        padding-bottom: 35vh;
    }
    .F img.comment4 {
        width: 15vw;
        padding-left: 27vw;
        padding-bottom: 3vh;
    }

    /*7.湯野上温泉のCSS*/
    .G img.title {
        width: 30%;
    }
    .G .contents {
        padding-top: 3vh;
    }
    .G .box {
        display: inline-block;
        width: 20%;
    }
    .G img.comment1 {
        width: 13vw;
        padding-left: 1vw;
    }
    .G img.comment2 {
        width: 15vw;
        padding-left: 4vw;
        padding-bottom: 5vh;
    }
    .G img.comment3 {
        width: 19vw;
        padding-left: 9vw;
    }
    .G img.view {
        width: 70%;
    }



}
